/* layout */
.bg-1 {
  background-color: rgb(40, 40, 40); /* Green */
  color: #ffffff;
}
.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 { 
  background-color: #000; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-bottom: 30px;
  padding-top: 10px;
}
.row {
  margin-top: 3em;
}
body#main, body {
  background-color: rgb(40, 40, 40);
}
.container {
  width: 100%;
}

.bottom {
  height: 100%;
  background-color: black;
}

/* text */
p {
  margin: 2em 7em;
  line-height: 30px;
  text-align: left;
  font-size: 18px;
}
p.card {
  border: 1px solid white;
  background-color: grey;
  box-shadow: 2em 1em rgb(29, 47, 80);
}
h1 {
  text-shadow: 2px 3px 10px #3a66c6;
  color:rgb(218, 240, 255);
  font-family: cursive;
  font-size: 50px;
  padding-bottom: .3em;
}
h1#mainHeader {
  margin-bottom: 1em;
}

/* contact form */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
}
nav#myNavbar li a:hover {
  background-color: grey;
}


/* media */
.img-circle {
  width: 300px;
  border: 2px solid white;
  background-color: black;
}
img {
  border: 1px solid white;
  margin-top: 2em;
}
img#car {
  margin: 0;
  height: 60em;
  border: 0;
}
#lux {
  width: 100%;
}